doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://api.trello.com/1/client.js?key=#{public_key}')
		script(src='javascripts/orgtrack.js')
	body
		block content